body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #457B9D;
}

h1{
  text-align: center;
}


.input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.input-container > input{
  width: 300px;
  height: 30px;
  font-size: 1.25rem;
}


.input-container > button{
   width: 40px;
   height: 40px;
   border-radius: 20px;
   font: 1.5rem;
   background-color:#E63946 ;
   margin-top : 10px
}


.container{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap : 5px
}

.todo{
  width: 500px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color:#F1FAEE ;
  padding: 0px 5px;

}

.actions > button {
  background-color:#E63946 ;
  color : white;
  height: 30px;
  width: 75px;
  border-radius: 10px;
  font-size: 1.05rem;
  margin-left : 10px
}